/* src/App.css */
#invoice {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .table {
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    text-align: center;
  }
  
  .text-end {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
  }